@media (max-width: 991px) {

    /* custom classes */
    .text-content {
        width: 100%;
    }

    /* footer link */
    .footer .footer-social a i {
        padding: 0 0.75rem;
    }

    .dark {
        display: none;
    }
}

@media (max-width: 767px) {

    /* custom css */

    h1 {
        font-size: 2.8rem;
    }

    #hero-section-searchbar {
        width: 100%;
        margin-top: 10px;
        justify-content: center;
    }

    h2 {
        font-size: 1.3rem;
        line-height: 28px;
    }

    /* top banner */
    .top-banner {
        padding: 10.375rem 0 9.375rem;
        padding-top: 5px;
    }

    .dark {
        display: none;
    }

}

@media (max-width: 767px) {}